/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: minmax(0, 1fr);
    max-height: 100vh;
}

#field {
    position: relative;
    height: 1000px;
    width: 1000px;
    background-image: url(./v5rc-pushback.png);    
    background-size: cover;
    user-select: none;
}

#field .circle {
    position: absolute;
    background: #ff0000;
    border-radius: 50%;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
}

#field .circle:hover {
    cursor: pointer;
}

#field .circle.dragging {
    cursor: grabbing;
}

#field .circle.new {
    background: #0400ff;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 15px;

    button {
        padding: 5px;
    }

    button + button {
        margin-top: 10px;
    }
}

.debug {
    overflow: auto;
}

.point-ui {
    background-color: #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

.point-ui-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.point-ui-form {
    display: grid;
    grid-template-areas:
        "label-x x label-y y delete"
        "label-timeout timeout label-radians radians delete"
        "attributes attributes attributes attributes attributes"
        "label-before-code label-before-code . . ."
        "before-code before-code before-code before-code before-code"
        "label-after-code label-after-code . . ."
        "after-code after-code after-code after-code after-code";
    grid-gap: 5px 10px;

    label.point-ui-label:nth-of-type(1) {
        grid-area: label-x;
    }

    label.point-ui-label:nth-of-type(2) {
        grid-area: label-y;
    }

    label.point-ui-label:nth-of-type(3) {
        grid-area: label-timeout;
    }

    label.point-ui-label:nth-of-type(4) {
        grid-area: label-radians;
    }

    label.point-ui-label:nth-of-type(5) {
        grid-area: label-before-code;
    }

    label.point-ui-label:nth-of-type(6) {
        grid-area: label-after-code;
    }

    input[data-attribute="x"] {
        grid-area: x;
    }

    input[data-attribute="y"] {
        grid-area: y;
    }

    input[data-attribute="timeout"] {
        grid-area: timeout;
    }

    input[data-attribute="radians"] {
        grid-area: radians;
    }

    [data-attribute="codeBefore"] {
        grid-area: before-code;
    }

    [data-attribute="codeAfter"] {
        grid-area: after-code;
    }

    .point-ui-attributes {
        grid-area: attributes;
    }

    .point-ui-delete {
        grid-area: delete;
    }
}

.point-ui-attributes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px 10px;
    padding: 10px 5px;
    background: #aaa;

    h3 {
        font-weight: 900;
    }
}

dialog[open] {
    position: relative;
    display: flex;
    flex-direction: column;

    #code-copy {
        margin-top: 20px;
    }

    .copy-toast {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
    }

    .copy-toast.show {
        opacity: 1;
    }

    #code-import-text {
        height: 800px;
        width: 800px;
    }
}

